.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://st2.depositphotos.com/3470617/6425/v/380/depositphotos_64252373-stock-illustration-baking-kitchen-icons.jpg?forcejpeg=true");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: peachpuff;
  opacity: 1;
  font-size: 35px;
  text-decoration: underline overline;
}

.startOver {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  padding: 0.5rem;
  margin: 1rem;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: groove 10px brown;
}

.cakeButtons {
  background-color: transparent;
  border: none;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

p {
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  font-weight: 750;
}

.bakingCat {
  border-width: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  top: 150px;
  right: 50px;
}
.bakingCat2 {
  border-width: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.letsGo {
  border-width: 0px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 75px;
  left: 825px;
}

.resultPage {
  background-image: url("resultBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yay {
  border-width: 0px;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 150px;
  right: 50px;
}

.confetti {
  border-width: 0px;
  width: 750px;
  height: 750px;
  position: absolute;
  top: 10px;
  right: 259px;
}
